/*
	ACTUAL CONTENT STUFF
*/

.inverse {
	background: $black;
	color: $white;

	h1, .h1 {
		&::after {
			background-color: $white;
		}
	}

	a {
		color: $white;

		&::after {
			background-color: $white;
		}
	}
}

.container {
	margin: 0 auto;
	// max-width: 60rem;
	padding-top: $major_spacing;
	// width: 94%;
	// width: 52rem;
	width: 16rem;

	@include breakpoint(small) {
		width: 34rem;
	}

	@include breakpoint(medium) {
		width: 52rem;
	}
}

.accent {
	color: $accent;
}

.welcome {
	text-align: left;
}

$grid_item_size: 16rem;

.content {
	animation: fadeup 0.8s ease-in-out;
	animation-fill-mode: forwards;
}

.leaving-content {
	animation: fadedown 0.8s ease-in-out;
	animation-fill-mode: forwards;
}

.project {
	background: $white;
	padding: $minor_spacing;
	margin-bottom: $minor_spacing;
	width: 100%;

	img {
		margin: $minor_spacing auto;
		display: block;
		width: 600px;
	}
}

@keyframes fadeup {
	from {
		transform: translate(0, 10rem);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes fadedown {
	from {
		transform: translate(0, 0);
		opacity: 1;
	}
	to {
		transform: translate(0, 10rem);
		opacity: 0;
	}
}

.grid-item {
	position: relative;
	background: $white;
	margin-bottom: $minor_spacing;
	width: $grid_item_size;
	height: $grid_item_size;
	padding: $minor_spacing;
	text-align: center;

	display: flex;
	justify-content: center;

	a {
		width: 100%;
	}

	a:hover {
		img {
			filter: grayscale(0%);
		}

		.icon {
			fill: $accent;
		}

		.item-label {
			background: $accent;
		}
	}

	img {
		filter: grayscale(100%);
		position: absolute;
		top: $minor_spacing;
		left: $minor_spacing;
		width: 12rem;
		height: 12rem;
		display: block;
		transition: filter $ease;
	}

	.icon {
		fill: $black;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 6rem;
		height: 6rem;
		transition: fill $ease;
	}
}

.grid-item-me {
	&:hover {
		img {
			filter: grayscale(0%);
		}
	}
}

.grid-item-tall {
	display: block;
	height: 2*$grid_item_size + $minor_spacing;
}

.item-label {
	background: $black;
	color: $white;
	letter-spacing: 4px;
	text-align: center;
	margin: auto;
	z-index: 10;
	width: 100%;
	position: relative;
	transition: background $ease;
}
