/*
	ACTUAL CONTENT STUFF
*/

::-moz-selection { background: $accent; color: $white; }
::selection { background: $accent; color: $white; }

.inverse {
	background: $black;
	color: $white;

	h1, .h1 {
		&::after {
			background-color: $white;
		}
	}

	a {
		color: $white;

		&::after {
			background-color: $white;
		}
	}
}

.container {
	margin: 0 auto;
	// max-width: 60rem;
	padding-top: $major_spacing;
	// width: 94%;
	// width: 52rem;
	width: 20rem;

	@include breakpoint(small) {
		width: 34rem;
	}

	@include breakpoint(medium) {
		width: 52rem;
	}
}

.accent {
	color: $accent;
}

.welcome {
	text-align: left;
}

$grid_item_size_small: 20rem;
$grid_item_size: 16rem;

.content {
	animation: fadeup 0.8s ease-in-out;
	animation-fill-mode: forwards;
}

.leaving-content {
	animation: fadedown 0.8s ease-in-out;
	animation-fill-mode: forwards;
}

.project {
	background: $white;
	padding: $minor_spacing;
	margin-bottom: $minor_spacing;
	width: 100%;

	img {
		margin: $minor_spacing auto;
		display: block;
		width: 600px;
	}
}

@keyframes fadeup {
	from {
		transform: translate(0, 10rem);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes fadedown {
	from {
		transform: translate(0, 0);
		opacity: 1;
	}
	to {
		transform: translate(0, 10rem);
		opacity: 0;
	}
}

.grid-item {
	position: relative;
	background: $white;
	margin-bottom: $minor_spacing;
	width: $grid_item_size_small;
	height: $grid_item_size_small;
	padding: $minor_spacing;
	text-align: center;

	display: flex;
	justify-content: center;

	@include breakpoint(small) {
		width: $grid_item_size;
		height: $grid_item_size;
	}

	h1 {
		text-align: left;
	}

	a {
		width: 100%;
	}

	a:hover {
		img {
			filter: grayscale(0%);
		}

		.icon {
			fill: $accent;
		}

		.item-label {
			background: $accent;
		}
	}

	img {
		filter: grayscale(100%);
		position: absolute;
		top: $minor_spacing;
		left: $minor_spacing;
		width: 16rem;
		height: 16rem;
		display: block;
		transition: filter $ease;

		@include breakpoint(small) {
			width: 12rem;
			height: 12rem;
		}
	}

	.icon {
		fill: $black;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 6rem;
		height: 6rem;
		transition: fill $ease;
	}
}

.grid-item-me {
	&:hover {
		img {
			filter: grayscale(0%);
		}
	}
}

.grid-item-tall {
	display: block;
	height: auto;

	@include breakpoint(small) {
		height: 2*$grid_item_size + $minor_spacing;
	}
}

.item-label {
	background: $black;
	color: $white;
	letter-spacing: 4px;
	text-align: center;
	margin: auto;
	z-index: 10;
	width: 100%;
	position: relative;
	transition: background $ease;
}

.slide-btn {
	background-image: linear-gradient(to right, #{$accent} 50%, #{$black} 50%);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: bottom right;
	border: none;
	color: white !important;
  display: block;
  height: 3.2em;
  line-height: 3.2em;
	margin: $minor_spacing auto;
	padding: 0;
	text-align: center;
  transition: all 0.2s ease-out;
	width: 7.6em;
}

.slide-btn:hover, .slide-btn:focus {
  background-position: bottom left;
  border: none;
	color: white;
	padding: 0;
}

.slide-btn span {
	font-weight: 800;
	position: relative;

	&::after {
		@extend %after;
		background: $white;
		bottom: -2px;
		height: 3px;
		left: 0;
		position: absolute;
		transition: width 0.2s ease-out;
		width: 0%;
	}
}

.slide-btn:hover span,
.slide-btn:focus span {
  color: white;

	&::after {
		width: 100%;
	}
}

.back-link {
	margin-bottom: $major_spacing;
}

.back-arrow {
	position: relative;
	top: 8px;
	margin-right: 4px;
}
